# Sample trigger scripe
name: Main Trigger Workflow

on:
  # Define the event that triggers this main workflow
  # push:
  #   branches:
  #     - main
  #     - development
  # Allows manual triggering via the GitHub UI
  workflow_dispatch:
    inputs:
      service_name:
        description: "Name of the service"
        type: string
        required: true
env:
  SERVICE_NAME: ${{ inputs.service_name }}

jobs:
  use_custom_action:
    runs-on: ubuntu-latest
    steps:
      # --- Step 1: Call the Custom Action ---
      - name: Set ENV variable using custom action
        uses: ravikumar29524/custom-github-js-action@master 
        with:
          input-value: "${{ env.SERVICE_NAME }}" # The value you want to pass
          env-var-name: 'DEPLOY_CONFIG'          # The name you want the ENV variable to have
          
      # --- Step 2: Use the Exported Variable ---
      - name: Verify the environment variable is set
        run: |
          echo "The exported variable is: $DEPLOY_CONFIG"

  # Job to call the reusable workflow
  call-sample-workflow:
    # The 'uses' keyword triggers the reusable workflow.
    # We reference it using its local path in the repository.
    uses: ./.github/workflows/reuse-wf1.yml
    with:
      cname: "${{ env.SERVICE_NAME }}"
